<!doctype html>
<html ng-app="hs">
<script src="/bower_components/angular/angular.js"></script>
<script src="/bower_components/angular-route/angular-route.js"></script>
<script src="/client/app.js"></script>

<head>
    <title>
        Hearthstone Lookup
    </title>
</head>

<body>
    <div ng-controller="mainController"> {{title}}</div>
    <a href="#/cardsearch"> Search by Card Name </a>
    <a href="#/othersearch"> Search Others </a>
    <div ng-view></div>

</body>

</html>
