<form name="cardsearchform" novalidate>
    <input type="text" ng-model="search" name="cardname" placeholder="Enter card name here" required>
    <button ng-click="getCardInfo(search); search = ''" type="submit" value="Enter" ng-disabled="cardsearchform.$invalid">
        Submit
    </button>
</form>
<br/> CARD INFO:
<div ng-repeat="card in cardsInfo">
    <table border="1px">
        <tr>
            <th colspan="2"><b>{{card.name}}</b></th>
        </tr>
        <tr>
            <td width="200px">
                <b>Card Type:</b> {{card.type}}
                <br/>
                <br/>
                <span ng-if="card.rarity"><b>Card Rarity:</b>{{card.rarity}}<br/>
                    <br/></span>
                <b>Card Cost:</b> {{card.cost}} Mana
                <br/>
                <br/>
                <b>Card Set:</b> {{card.cardSet}}
                <br/>
                <br/>
                <b>Card Text:</b> {{card.text}}
                <br/>
                <br/>
                <span ng-if="card.playerClass"><b>Player Class:</b>{{card.playerClass}}<br/>
                    <br/></span>
                <span ng-if="card.flavor"><b>Flavor Text:</b>{{card.flavor}}</span>
            </td>
            <td>
                <img ng-src="{{card.img}}">
            </td>
        </tr>
    </table>
</div>
</div>
