<form name="cardsearchform" novalidate>
    <table>
        <col width="300">
        <col width="10">
        <col width="300">
        <tr>
            <td>
                <div class="form-group">
                    <label for="cardclass">Class (Required)</label>
                    <input type="text" class="form-control" id="cardclass" ng-model="cardclass" placeholder="Enter class here" required>
                </div>
            </td>
            <td>
            </td>
            <td>
                <div class="form-group">
                    <label for="cardcost">Cost</label>
                    <input type="text" class="form-control" id="cardcost" ng-model="cardcost" placeholder="Enter card cost here">
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="form-group">
                    <label for="cardattack">Attack</label>
                    <input type="text" class="form-control" id="cardattack" ng-model="cardattack" placeholder="Enter attack here">
                </div>
            </td>
            <td></td>
            <td>
                <div class="form-group">
                    <label for="cardhealth">Health</label>
                    <input type="text" class="form-control" id="cardhealth" ng-model="cardhealth" placeholder="Enter health here">
                </div>
            </td>
        </tr>
    </table>
    <button ng-click="getCardsByClass(cardclass, cardcost, cardattack, cardhealth);" type="submit" value="Enter" ng-disabled="cardsearchform.$invalid" class="btn btn-default"> Submit
    </button>

</form>
<br/>
<p class="bg-warning">
    <br/><b>CARD INFO:</b>
    <br/> &nbsp;
</p>
<button ng-repeat="i in makeIntoArray(totalPages()) track by $index" ng-click="currentPage($index)">{{$index + 1}}</button>
<br/>
<br/>
<div ng-repeat="card in cardsInfo | startFrom: currentPage * pageSize | limitTo:pageSize">
    <table class=" table table-striped " width="500px ">
        <col width="500 ">
        <col width="350 ">
        <tr>
            <th colspan="2 "><b>{{card.name}}</b></th>
        </tr>
        <tr>
            <td>
                <b>Card Type:</b> {{card.type}}
                <br/>
                <br/>
                <span ng-if="card.rarity "><b>Card Rarity:</b>{{card.rarity}}<br/>
                    <br/></span>
                <b>Card Cost:</b> {{card.cost}} Mana
                <br/>
                <br/>
                <b>Card Set:</b> {{card.cardSet}}
                <br/>
                <br/>
                <b>Card Text:</b> {{card.text}}
                <br/>
                <br/>
                <span ng-if="card.playerClass "><b>Player Class:</b> {{card.playerClass}}<br/>
                    <br/></span>
                <span ng-if="card.flavor "><b>Flavor Text:</b> {{card.flavor}}</span>
                <br/>
                <center>
                    <button ng-click="toggle = !toggle" class="btn btn-default">{{ toggle == true ? 'See Gold Card' : 'See Regular Card' }}</button>
                </center>
            </td>
            <td>
                <div ng-switch="toggle">
                    <div ng-switch-when="true">
                        <img ng-src="{{card.img}}">
                    </div>
                    <div ng-switch-when="false">
                        <img ng-src="{{card.imgGold}} ">
                    </div>
                </div>
            </td>
        </tr>
    </table>
</div>

</table>
</div>
